<div class="container" id="content-wrap">
<div id="content">
<% @posts.each do |post| %>

	<div class="row" id="post-list-box">
		<div class="col-sm-12 col-md-8 col-md-offset-2">
		<%= link_to show_post_path(post) do %>
			<div class="" id="post-header" style="background-image: url('<%= post.image.cover.url %>');  ">
				<div id="post-header-title">
					<h1 >
						<%= post.title %>
					</h1>
					<p><%= post.created_at.to_date %></p>
				</div>
			</div>
			<% end %>
			<div id="post-content-strip">
			<%= truncate_html post.content, :length => 500 %>
			<%= link_to 'Bővebben...', show_post_path(post) %>
			</div>
			<hr>
		</div>
	</div>

<% end %>
</div>
</div>