<div class="container" id="content-wrap">
<div id="content">
<div id="show-post-wrap">
<div class="row" id="show-post">
		<div class="col-sm-12 col-md-8 col-md-offset-2">
			<%= link_to 'Back', blog_path %>
			<div class="" id="post-header" style="background-image: url('<%= @posts.image.cover.url %>');  ">
				<div id="post-header-title">
					<h1 >
						<%= @posts.title %>
					</h1>
					<p><%= @posts.created_at.to_date %></p>
				</div>
			</div>

			<div id="post-content-box">
			<%= raw @posts.content.html_safe %>
			</div>
		</div>
</div>

<div class="row" id="show-comment">
	<div class="col-sm-12 col-md-8 col-md-offset-2">
		<hr>
		<div id="post-comment">
			<%= render 'pages/disqus' %>
		</div>
		<hr>
	</div>
</div>
</div>
</div>
</div>