<div class="container" id="content-wrap">
	<div id="content">
	<%= render "posts/admin_widget" %>
<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="" id="post-header" style="background-image:url('<%= @post.image.cover.url %>');  ">
				<div id="post-header-title">
					<h1 >
						<%= @post.title %>
					</h1>
					<p><%= @post.created_at.to_date %></p>
				</div>
			</div>

			<div id="post-content-box">
			<%= raw @post.content.html_safe %>
			</div>
		</div>
	</div>
	
	</div>
</div>