<div class="container" id="content-wrap">
	<div id="content">
	<%= render "posts/admin_widget" %>
	<div class="row">
<div class="col-sm-12">
<%= link_to '', posts_path, class: 'pull-left fa fa-arrow-circle-o-left fa-2x a-back-big'%>
<%= link_to '', edit_post_path(@post), class: 'pull-right fa fa-pencil-square-o fa-2x a-edit-big' %>
</div>
</div>
<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="" id="post-header" style="background-image:url('<%= @post.image.cover.url %>');  ">
				<div id="post-header-title">
					<h1 >
						<%= @post.title %>
					</h1>
					<p><%= @post.created_at.to_date %></p>
				</div>
			</div>

			<div id="post-content-box">
			<%= raw @post.content.html_safe %>
			</div>
		</div>
	</div>
	
	</div>
</div>