<!DOCTYPE html>
<html>
<head>
  <title>Párkapcsolat megmentése – párkapcsolati coaching</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <meta name="description" content="Ingyenes párkapcsolat fejlesztő online tréning. Párkapcsolati problémák, eltávolodás, konfliktusok, anyós probléma, viták kezelése párkapcsolati coach segítségével- párterápiával a kapcsolatok jelentős része megmenthető, sikerülhet az újrakezdés.Segítek a kihűlt kapcsolat helyrehozásában. Várom szeretettel Budapesten.">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true, :async => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/navbar' %>

<%= yield %>

<%= render 'layouts/footer' %>
<%= render 'layouts/chevron_up' %>

</body>
</html>
